# Ignore virtual environments
.venv/
venv/
env/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore local data files
project-life-dashboard-de/data.csv
*.csv

# Ignore cloudflared
cloudflared
cloudflared.tgz

# Ignore macOS files
.DS_Store
